<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Zotero Sync Tool- Library</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<style>
    .center {
        margin: auto;
        width: 60%;
        height: 950px;
        background-color: #4379a5;
        color: white;
        padding: 20px;
    }
</style>


<div class="center">
    <p th:text="'Benutzer/Gruppe ID: ' + ${id}"/>
    <a href="/index.html" style="color: white">Bibliothek wechseln</a>
    <h1 align="center">
        Zotero Sync Tool
    </h1>


    <button onclick="viewItems()">Alle Items aus der Bibliothek anzeigen</button>
    <br> <br>
    <button onclick="viewCollections()">Alle Collections aus der Bibliothek anzeigen</button>
    <br> <br>


    <form action="/syncLibrary" target="blank" method="get">
        <input type="submit" value="Alle Items synchronisieren">
        <input id="id1" type="hidden" name="id"  />
        <input id="apiKey1" type="hidden" name="id"  />
        <input id="groupsOrUsers1" type="hidden" name="id"  />
    </form>


    <form action="/syncCollection" target="blank" method="get">
        <br>
        <input type="submit" value="Alle Items aus einer bestimmten Collection synchronisieren">
        <input id="id2" type="hidden" name="id"  />
        <input id="apiKey2" type="hidden" name="id"  />
        <input id="groupsOrUsers2" type="hidden" name="id"  />
        <input type="text" name="collectionId" placeholder="Collection Key" required>
        <br>
    </form>


    <iframe id="myFrame" src="https://api.zotero.org/" width="100%" height=600px style="background-color: white" hidden>
    </iframe>



    <script th:inline="javascript">


        document.getElementById("id1").value = /*[[${id}]]*/ 'default';
        document.getElementById("apiKey1").value = /*[[${apiKey}]]*/ 'default';
        document.getElementById("groupsOrUsers1").value = /*[[${groupsOrUsers}]]*/ 'default';

        document.getElementById("id2").value = /*[[${id}]]*/ 'default';
        document.getElementById("apiKey2").value = /*[[${apiKey}]]*/ 'default';
        document.getElementById("groupsOrUsers2").value = /*[[${groupsOrUsers}]]*/ 'default';



        function viewItems() {
            var id = /*[[${id}]]*/ 'default';
            var apiKey = /*[[${apiKey}]]*/ 'default';
            var groupsOrUsers = /*[[${groupsOrUsers}]]*/ 'default';
            document.getElementById("myFrame").src = "https://api.zotero.org/" + groupsOrUsers + "/" + id + "/items/?key=" + apiKey;
            document.getElementById("myFrame").hidden = false;
        }

        function viewCollections() {
            var id = /*[[${id}]]*/ 'default';
            var apiKey = /*[[${apiKey}]]*/ 'default';
            var groupsOrUsers = /*[[${groupsOrUsers}]]*/ 'default';
            document.getElementById("myFrame").src = "https://api.zotero.org/" + groupsOrUsers + "/" + id + "/collections/?key=" + apiKey;
            document.getElementById("myFrame").hidden = false;
        }
    </script>

</div>
</body>
</html>
